/** MEDIA QUERIES MOBILE < 768px **/

/**  HEADER **/
header,
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-inline: 0;
}

nav {
	width: 100%;
}

nav ul {
	width: 100%;
}

nav ul li {
	padding-top: 24px;
	padding-bottom: 12px;
	border-bottom: 3px solid var(--light-grey);
}

nav li:active {
	border-top: none;
	border-bottom: 3px solid var(--blue);
}

/**  SEARCH FORM  **/
.search {
	margin-inline: 40px;
}

.search-form__button {
	width: 45px;
	border-radius: 12px;
}

.search__form-txt {
	display: none;
}

.search__form-icon {
	display: contents;
}

/**  FILTERS **/

.filters {
	flex-direction: column;
	align-items: flex-start;
}

/**  LODGINGS AND POPULARS **/

.lodgings {
	flex-direction: column-reverse;
	width: 100%;
}

/** POPULARS **/

.populars-container {
	border-radius: 0;
}

.populars-list {
	width: 100%;
	height: auto;
}

.populars__card {
	width: 100%;
}



/** LODGINGS **/

.lodgings-container {
	background-color: #fff;
}

.lodgings-list {
	width: 100%;
	align-items: center;
	flex-direction: column;
}

.lodgings__card {
	width: 100%;
	height: 160px;
}

.lodgings__card img {
	height: 150px;
}

/**  ACTIVITIES IN MARSEILLE **/

.activities {
	padding-inline: 40px;
	width: 100%;
	margin-top: 0;
}

.activities-container {
	flex-direction: column;
}

.activities__card {
	width: 100%;
}

/** FOOTER **/

footer {
	flex-direction: column;
}

.footer__item {
	width: 100%;
}