/** GENERAL **/
:root {
	--blue: #0065fc;
	--light-blue: #deebff;
	--light-grey: #f2f2f2;
	--dark-grey: #808080bb;
	font-family: "raleway", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	margin: auto;
	min-width: 300px;
}

header,
main {
	margin-inline: 40px;
	margin-bottom: 20px;
}

h1,
h2 {
	font-size: 24px;
}

h3 {
	margin-bottom: 10px;
}

li {
	list-style-type: none;
}

.card-hover:hover {
	transform: scale(1.1);
	box-shadow: 0px 8px 16px var(--dark-grey);
}

/* CARDS : Currency and Stars */

.currency {
	font-weight: 700;
}

.blue {
	color: var(--blue);
}

.grey {
	color: var(--light-grey);
}

/** HEADER **/

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo img {
	width: 160px;
	max-width: 100%;
	height: auto;
	padding-top: 32px;
	padding-left: 24px;
}

nav {
	width: 30%;
	height: 80px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin-top: 0;
}

nav li {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 50%;
}

/** Add :active as :hover is non sense for touch screens **/
nav li:hover,
nav li:active {
	border-top: 3px solid var(--blue);
	color: var(--blue);
}

/** SEARCH FORM **/

.search {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	margin-bottom: 30px;
}

.search__form {
	display: flex;
	height: 50px;
}

.search__form label {
	width: 50px;
	border-radius: 15px 0 0 15px;
	background-color: var(--light-grey);
	position: relative;
}

.search__form .fa-location-dot {
	position: absolute;
	left: 40%;
	top: 35%;
}

.search__form input {
	border: 1px solid var(--light-grey);
	border-right: none;
	border-left: none;
	padding-inline: 20px;
	font-weight: 700;
	outline: none;
}

::placeholder {
	color: inherit;
	font-size: 18px;
	font-weight: 700;
}

.search__form button {
	border: none;
	border-radius: 0 15px 15px 0;
	background-color: var(--blue);
	color: white;
	cursor: pointer;
	padding-inline: 20px;
}

.search__form-icon {
	display: none;
}

.search__form button:active {
	background-color: var(--light-blue);
	color: var(--blue);
}

/** FILTERS **/

.filters {
	display: flex;
	align-items: center;
}

.filters h2 {
	font-size: 18px;
	margin-right: 20px;
}

.filters-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.filters__button {
	display: flex;
	align-items: center;
	border: 3px solid var(--light-grey);
	border-radius: 50px;
	background-color: white;
	cursor: pointer;
	height: 50px;
	margin: 10px;
}

.filters__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--light-blue);
	color: var(--blue);
	margin-left: -8px;
}

.filters__name {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	padding-inline: 16px;
	transition: all 0.3s;
}

.filters__button:hover {
	color: #fff;
	box-shadow: 0 4px 8px var(--dark-grey);
	border: 3px solid var(--light-blue);
	background: linear-gradient(to right bottom, var(--light-blue), var(--blue));
}

.info {
	display: flex;
	align-items: center;
}

.info .fa-info {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 24px;
	height: 24px;
	border: 1px solid var(--dark-grey);
	border-radius: 50%;
	color: var(--blue);
	margin-right: 16px;
}

.info p {
	word-wrap: break-word;
}

/** LODGINGS AND POPULARS **/

.lodgings {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 30px;
	margin-bottom: 30px;
}

/** LODGINGS IN MARSEILLE **/

.lodgings-container {
	display: flex;
	flex-direction: column;
	width: 67%;
	background-color: var(--light-grey);
	padding: 40px;
	border-radius: 25px;
	gap: 30px;
}

.lodgings-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-bottom: 30px;
}

.lodgings__card {
	flex: 1 1 31%;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0 4px 8px 0 var(--dark-grey);
	transition: 0.3s;
}

.lodgings__card img {
	width: 100%;
	padding: 6px 6px 0 6px;
	border-radius: 25px 25px 0 0;
	height: 140px;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.lodgings__info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 90px;
	padding: 0 6px 6px 18px;
}

.lodgings-more {
	font-size: 18px;
	font-weight: bold;
}

.lodgings-more a:hover {
	color: var(--blue);
}

/** POPULARS **/

.populars-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
	background-color: var(--light-grey);
	border-radius: 25px;
	padding: 40px;
}

.populars__title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	width: 100%;
}

.populars-list {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.populars__card a {
	display: flex;
	flex: 1 1 240px;
	height: 170px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 var(--dark-grey);
	transition: 0.3s;
}

.populars__card img {
	width: 40%;
	height: 100%;
	border-radius: 25px 0 0 25px;
	padding: 6px;
	object-fit: cover;
}

.populars__info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	padding: 6px;
}

/** ACTIVITIES IN MARSEILLE **/

.activities {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 60px 0;
}

.activities-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-content: space-between;
	width: 100%;
	height: 500px;
	margin-top: 30px;
}

.activities__card {
	width: 23%;
	height: 100%;
	border-radius: 25px;
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 var(--dark-grey);
}

.activities__card a {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.activities__card img {
	height: 100%;
	border-radius: 25px 25px 0 0;
	object-fit: cover;
	object-position: center;
	width: 100%;
	overflow: hidden;
}

.activities__card h3 {
	display: flex;
	align-items: center;
	min-height: 60px;
	padding: 6px 16px;
	margin-bottom: 0;
}

.activities__card:nth-child(2) {
	height: 56%;
}

.activities__card:nth-child(3) {
	height: 38%;
}

.activities__card:nth-child(5),
.activities__card:nth-child(6) {
	height: 47%;
}

/** FOOTER **/

footer {
	background-color: var(--light-grey);
	display: flex;
	flex-wrap: wrap;
	padding: 30px 40px;
	justify-content: space-between;
}

.footer__item {
	width: 30%;
	line-height: 2;
	margin: 20px 0;
}

.footer__item a:hover {
	color: var(--blue);
}