/** GENERAL **/

:root {
	--blue: #0065fc;
	--light-blue: #deebff;
	--light-grey: #f2f2f2;
	/* Shadows */
	--dark-grey: #808080bb;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	font-family: "raleway", sans-serif;
	margin: 0 auto;
}

header,
main {
	margin-inline: 32px;
	margin-bottom: 40px;
}

h1,
h2 {
	font-size: 20px;
	font-weight: 700;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.card-hover:hover {
	transform: scale(1.05);
	box-shadow: 0px 8px 16px 0 var(--dark-grey);
}

/* Stars */
.blue {
	color: var(--blue);
}

.grey {
	color: var(--light-grey);
}

/** HEADER **/

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo img {
	width: 160px;
	max-width: 100%;
	height: auto;
	padding-top: 32px;
	padding-left: 24px;
}

nav {
	width: 30%;
	height: 80px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin-top: 0;
}

nav li {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 50%;
}

nav li:hover {
	border-top: 3px solid var(--blue);
	color: var(--blue);
}

/** SEARCH FORM **/

.search {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	margin-bottom: 40px;
}

.search__form {
	display: flex;
	height: 50px;
}

.search__form label {
	width: 50px;
	border-radius: 15px 0 0 15px;
	background-color: var(--light-grey);
	position: relative;
}

.search__form .fa-location-dot {
	position: absolute;
	left: 40%;
	top: 35%;
}

.search__form input {
	border: 1px solid var(--light-grey);
	border-right: none;
	border-left: none;
	padding-inline: 20px;
}

.search__form input:focus {
	outline: none;
}

::placeholder {
	color: inherit;
	font-size: 18px;
	font-weight: bold;
}

.search__form button {
	border: none;
	border-radius: 0 15px 15px 0;
	background-color: var(--blue);
	color: white;
	cursor: pointer;
	padding-inline: 20px;
}

.search__form .glass-icon {
	display: none;
}

.search__form button:active {
	background-color: var(--light-blue);
	color: var(--blue);
}

/** FILTERS **/

.filters {
	display: flex;
	align-items: center;
}

.filters h2 {
	font-size: 18px;
	margin-right: 32px;
}

.filters-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.filters__button {
	display: flex;
	align-items: center;
	border: 3px solid var(--light-grey);
	border-radius: 50px;
	background-color: white;
	cursor: pointer;
	height: 50px;
	margin: 10px 32px;
	margin-right: 0;
}

.filters__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--light-blue);
	color: var(--blue);
	margin-left: -8px;
}

.filters__name {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	padding-inline: 16px;
	transition: 0.3s;
}

.filters__button:hover {
	background-color: var(--blue);
	color: #fff;
	box-shadow: 0 4px 8px 0 var(--dark-grey);
	border: 3px solid var(--light-blue);
}

.info .fa-info {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border: 1px solid var(--light-grey);
	border-radius: 50%;
	color: var(--blue);
	margin-right: 16px;
}

/** LODGINGS AND POPULARS **/

.lodgings {
	display: flex;
	justify-content: space-between;
	width: 100%;
	column-gap: 30px;
	margin-bottom: 32px;
}

/** LODGINGS IN MARSEILLE **/

.lodgings-container {
	display: flex;
	flex-direction: column;
	width: 67%;
	justify-content: space-between;
	background-color: var(--light-grey);
	padding: 40px;
	border-radius: 25px;
	gap: 30px;
}

.lodgings-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 30px;
}

.lodgings__card {
	flex: 1 1 31%;
	min-width: 200px;
	height: 230px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0 4px 8px 0 var(--dark-grey);
	transition: 0.3s;
}

.lodgings__card img {
	width: 100%;
	padding: 6px 6px 0 6px;
	border-radius: 25px 25px 0 0;
	height: 140px;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.lodgings__info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 90px;
	padding: 0 6px 6px 18px;
}

.lodgings-more {
	font-size: 18px;
	font-weight: bold;
}

.lodgings-more a:hover {
	color: var(--blue);
}

/** POPULARS **/

.populars-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
	background-color: var(--light-grey);
	border-radius: 25px;
	padding: 40px;
}

.populars__title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	width: 100%;
}

.populars-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;
	gap: 30px;
	min-width: 280px;
}

.populars__card a {
	display: flex;
	flex: 1 1 240px;
	height: 160px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 var(--dark-grey);
	transition: 0.3s;
}

.populars__card img {
	width: 40%;
	height: 100%;
	border-radius: 25px 0 0 25px;
	padding: 6px;
	object-fit: cover;
}

.populars__info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 6px;
}

/** ACTIVITIES IN MARSEILLE **/
.activities {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
}

.activities-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;
}

.activities-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 23%;
}

.activities-large-card {
	border-radius: 25px;
	background-color: white;
	box-shadow: 0 4px 8px 0 var(--dark-grey);
	transition: 0.3s;
}

.activities-large-card img {
	height: 421px;
	border-radius: 25px 25px 0 0;
	object-fit: cover;
	width: 100%;
}

.activities-column h4 {
	display: flex;
	align-items: center;
	height: 50px;
	padding: 6px 18px;
}

.activities-column-card {
	border-radius: 25px;
	background-color: white;
	box-shadow: 0 4px 8px 0 var(--dark-grey);
	transition: 0.3s;
}

.activities-column-card img {
	height: 165px;
	border-radius: 25px 25px 0 0;
	object-fit: cover;
	width: 100%;
}

.pomegues img {
	height: 210px;
}

.frioul img {
	height: 124px;
	object-position: top;
}

/** FOOTER **/

footer {
	background-color: var(--light-grey);
	display: flex;
	flex-wrap: wrap;
	padding-left: 32px;
	justify-content: space-between;
}

.footer-item {
	width: 30%;
	line-height: 2;
	margin: 40px 0;
}

.footer-item h3 {
	margin-bottom: 8px;
	font-weight: 700;
}

.footer-item a:hover {
	color: var(--blue);
}