/** MEDIA QUERIES TABLET < 992px  **/

.lodgings {
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
}

.lodgings-container,
.populars-container {
	width: 100%;
}

.populars-list {
	width: 50%;
}

.populars__card a {
	display: flex;
	flex: 1 1 240px;
	height: 160px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 var(--dark-grey);
	transition: 0.3s;
}

.populars__card img {
	width: 40%;
	height: 100%;
	border-radius: 25px 0 0 25px;
	padding: 6px;
	object-fit: cover;
}

.populars__info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 6px;
}

.activities {
	width: 100%;
	padding: 40px;
}

.activities-container {
	row-gap: 30px;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.activities-column {
	width: 50%;
	gap: 30px;
}

.activities-large-card,
.activities-column-card {
	flex: 1 1 31%;
	min-width: 240px;
	height: 230px;
	;
}

.activities-large-card img,
.activities-column-card img {
	height: 180px;
}