/** MEDIA QUERIES TABLET < 992px  **/

/** CARDS EFFECTS **/

/* :active replace :hover for touch screens **/
.card-hover:active {
	transform: scale(1.1);
	box-shadow: 0px 8px 16px var(--dark-grey);
}

/** LODGINGS AND MOST POPULARS **/

.lodgings {
	flex-direction: column;
	align-items: center;
}

.lodgings-container,
.populars-container {
	width: 100%;
}

.populars-list {
	flex-wrap: wrap;
	align-content: space-between;
	width: 100%;
	height: 400px;
}

.populars__card {
	width: 47%;
}


/** ACTIVITES IN MARSEILLE **/

.activities {
	width: 100%;
}

.activities-container {
	gap: 30px;
	width: 100%;
	height: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.activities__card {
	width: 45%;
}

.activities__card img {
	height: 174px;
}