/** MEDIA QUERIES TABLET < 992px  **/

@media screen and (max-width: 992px) {
	.lodgings {
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
	}

	.lodgings-container,
	.populars-container {
		width: 100%;
	}

	.populars-list {
		width: 50%;
	}

	.populars__card a {
		display: flex;
		flex-direction: column;

		min-width: 200px;
		height: 230px;
		border-radius: 25px;
		background-color: white;
		box-shadow: 0 4px 8px 0 var(--dark-grey);
		transition: 0.3s;
	}

	.populars__card img {
		width: 100%;
		padding: 6px 6px 0 6px;
		border-radius: 25px 25px 0 0;
		height: 140px;
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

	.populars__info {
		height: 90px;
		padding: 0 6px 6px 18px;
	}

	.activities {
		width: 100%;
		padding: 40px;
	}

	.activities-container {
		row-gap: 30px;
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	.activities-column {
		width: 50%;
		gap: 30px;
	}

	.activities-large-card,
	.activities-column-card {
		flex: 1 1 31%;
		min-width: 200px;
		height: 230px;
		;
	}

	.activities-large-card img,
	.activities-column-card img {
		height: 180px;
	}
}